.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.matches {
  margin: 40px 20px 20px 20px;
}

.matches-table {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.matches-table th {
  text-align: left;
}

.match-stats-table td, th, caption {
  text-align: center;
}
